<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Andressa Farias - Portfólio</title>
    <link rel="stylesheet" href="/css/about.css">
    <link rel="stylesheet" href="/css/global.css">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
    </style>
</head>
<body>
    <%- include ('header') %>
    <main>
        <section>
            <div class="titulo-about">
                <h1>Perfil Profisional</h1>
                <h4><a href="mailto:andreessafariass@gmail.com">andreessafariass@gmail.com</a></h4>
            </div>
            <div class="texto-about">
                <p>
                    Sou estudante de Análise e Desenvolvimento de Sistemas, atualmente no último termo, com foco em ampliar meu conhecimento e adquirir experiência prática na área de tecnologia. 
                    Apesar de ainda não ter experiência profissional, desenvolvi projetos acadêmicos que fortaleceram minhas habilidades em desenvolvimento de software e resolução de problemas técnicos.
                    Estou comprometida em continuar aprendendo e aplicando conceitos em práticas reais, buscando oportunidades para contribuir com soluções inovadoras. 
                    Acredito que, com dedicação e curiosidade, estou construindo uma base sólida para uma carreira de sucesso no setor de tecnologia.
                </p>
            </div> 
        </section>
    </main>
</body>
</html>
