<header>
    <nav>
        <ul>
            <li><a href="/index">Home</a></li>
            <li><a href="/about">Sobre</a></li>
            <li><a href="/resume">Resume</a></li>
            <li><a href="/portfolio">Portfólio</a></li>
        </ul>
    </nav>
</header>