<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Andressa Farias - Portfólio</title>
    <link rel="stylesheet" href="/public/css/style.css">
    <link rel="stylesheet" href="/public/css/global.css">
    <link rel="stylesheet" href="/public/css/index.css">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
    </style>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="/views/index.html">Home</a></li>
                <li><a href="/views/about.html">Sobre</a></li>
                <li><a href="/views/resume.html">Resume</a></li>
                <li><a href="/views/portfolio.html">Portfólio</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <section>
            <div class="apresentacao">
                <h1>Andressa</h1>
                <h2>Farias</h2>
                <h3 id="typing-text">{ Desenvolvedora Web }</h3>
            </div>
            <div class="botoes">
                <a class="botoes-links" href="/views/resume.html">Resume</a>
                <a class="botoes-links" href="/views/portfolio.html">Portfólio</a>
            </div> 
        </section>
    </main>
    <footer>
        <p class="footer-paragrafo">
            <a href="https://www.instagram.com/andressafariass27/" target="_blank" rel="noopener"><img src="/public/imagens/instagram.png" class="logos" alt="instagram"></a>
            <a href="https://www.linkedin.com/in/andreessa-fariass/" target="_blank"rel="noopener"><img src="/public/imagens/linkedin.png"  class="logos" alt="linkedin"></a>
            <a href="https://github.com/andressafs27" target="_blank" rel="noopener"><img src="/public/imagens/github.png" class="logos" alt="github"></a>
        </p>
    </footer>
</body>
</html>

