<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Andressa Farias - Portfólio</title>
    <link rel="stylesheet" href="/css/resume.css">
    <link rel="stylesheet" href="/css/global.css">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
    </style>
</head>
<body>
    <%- include ('header') %>
    <main>
        <section>
            <div class="technical-skill">
                <h1>TECHNICAL SKILLS</h1>
                <a><img src="imagens/html.png" class="logos">HTML</a>
                <a><img src="imagens/css.png" class="logos">CSS</a>
                <a><img src="imagens/javascript.png" class="logos">JavaScript</a>
                <a><img src="imagens/sass.png" class="logos">Sass</a>
                <a><img src="imagens/tailwind-css.png" class="logos">Tailwind CSS</a>
                <a><img src="imagens/bootstrap.png" class="logos">Bootstrap</a>
                <a><img src="imagens/c.png" class="logos">C</a>
                <a><img src="imagens/node.png" class="logos">Node.js</a>
                <a><img src="imagens/azure.png" class="logos">Azure</a>
            </div>
            <div class="languages">
                <h1>LANGUAGES</h1>
                <h2>English - Basic</h2>
            </div>
            <div class="education">
                <h1>EDUCATION</h1>
                <h2>Análise e Desenvolvimento de Sistemas</h2>
                <h3>Universidade do Oeste Paulista - UNOESTE (cursando)</h3> 
            </div>
        </section>
    </main>
    <script src="javascript/index.js"></script>
</body>
</html>
