main{
    background-image: url(/imagens/imagem2.jpg); 
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.apresentacao{
    display:flex;
    justify-content: left;
    align-items: left;
    flex-direction: column; 
    padding: 100px 0px 0px 200px;
}

h1{
    font-weight: 200;
    color: var(--color-black);
    font-size: 50px;
    margin-bottom: 0px;
}

h2{
    font-weight: 800;
    color: var(--color-black);
    font-size: 40px;
    margin-top: 0px;
    margin-bottom: 0px;
}

/* h3 */
#typing-text {
    font-weight: 300;
    color: var(--color-black);
    font-size: 30px;
    margin-top: 0px;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid;
    width: 0;
    animation: typing 3s steps(30, end) forwards;
}

@keyframes typing {
    from {
        width: 0;
    }
    to {
        width: 11.5em; 
    }
}

@keyframes blink-caret {
    from, to {
        border-color: transparent;
    }
    50% {
        border-color: black;
    }
}

.botoes{
    display: flex;
    justify-content: left;
    flex-direction: row;
    gap:30px;
    padding: 0px 0px 0px 230px;
}

.botoes {
    animation-delay: 0.5s;
}

.botoes a {
    opacity: 0;
    transform: translateY(20px);
    animation: fadeInUp 0.5s forwards;
}

.botoes a:nth-child(1) {animation-delay: 3s;}
.botoes a:nth-child(2) {animation-delay: 4s;}

.botoes a:nth-of-type(1) {animation-delay: 3.5s;}
.botoes a:nth-of-type(2) {animation-delay: 4s;}

@keyframes fadeInSection {
    to {
        opacity: 1;
    }
}

@keyframes fadeInUp {
    to {
        opacity: 1;
        transform: translateY(0);
    }
} 

.botoes-links{
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    color: var(--color-black);
    font-size: 15px;
    border-radius: 30px;
    border-color: var(--color-black);
    padding: 5px 20px 5px 20px;
    border:1px var(--color-black) solid;
    margin: 0px;
    cursor: pointer;
    text-decoration: none;
}

section a:hover{
    color: var(--color-white);
    transition: 1.5s;
    background-color: var(--color-black);
}

footer{
    text-align: center;
}

.footer-paragrafo{
    display: flex; 
}

@media (max-width: 768px) {
    main {
        background-position: right 35% bottom 45%;
    }

    .apresentacao {
        padding: 50px 20px; 
    }

    h1 {
        font-size: 35px; 
        margin-bottom: 0px;
    }

    h2 {
        font-size: 30px;
        margin-bottom: 10px;
    }

    #typing-text {
        font-size: 20px;
        width: 0;
        animation: typing 3s steps(30, end) forwards;
    }

    .botoes {
        flex-direction:row; 
        padding: 20px 10px;
        gap: 10px; 
        justify-content: flex-start;

    }

    .botoes a {
        opacity: 1; 
        transform: translateY(0);
        animation: none;
    }

    .botoes-links {
        font-size: 14px; 
        padding: 10px 20px;
        border-radius: 25px; 
    }

    section a:hover {
        background-color: var(--color-black); 
    }

    footer {
        padding: 0px; 
    }

    .footer-paragrafo {
        flex-direction: row; 
        margin-bottom: 0px;
    }
}